<h2>登録済み一覧</h2>

<% if @rooms.any? %>
  <table>
     <thead>   
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
        <th></th>
        <th></th>
      </tr>
     </thead>
     <% @rooms.each do |room| %>
     <tbody>
      <tr>
        <td><%= attachment_image_tag room, :image, fallback: "no_room_image.png", size: "100x75" %></td>
        <td><%= link_to room.title, room_path(room) %></td>
        <td class="text-cell"><%= room.body %></td>
        <td>¥<%= number_with_delimiter(room.price) %>〜</td>
        <td><%= room.created_at.to_s(:date_jp) %></td>
        <td><%= link_to "編集", edit_room_path(room) %></td>
        <td><%= link_to "削除", room_path(room), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete-link" %></td>
      </tr>
     </tbody>
    <% end %>
  </table>
<% else %>
  <p>まだ宿泊施設が登録されていません。</p>
<% end %>
