<!DOCTYPE html>
<html>
  <head>
    <title>StayInn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <img src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="ヘッダーロゴ" class="header-logo">
      <% end %>
     <div class="header-item">
      <% if user_signed_in? %>
       <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
       <%= link_to "ログイン", new_user_session_path, class: "login-button"%>
       <%= link_to "新規登録", new_user_registration_path, class: "new-button"%>
      <% end %>
     </div>
    </header>
    <div class="main">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= yield %>
    </div>
    <footer>
     <%= link_to root_path do %>
      <img src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="フッターロゴ" class="footer-logo">
     <% end %>
     <p>Copyright ©︎ Potepan Share 2024 ALL rights reserved</p>
    </footer>
  </body>
</html>
